html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #222;
}

.router {
  margin: 0 auto;
  width: 680px;
  padding: 4px;
  background: #555;
  border: 1px solid #eee;
}

.router-component {
  border: 1px solid #888;
  margin-bottom: 4px;
  min-height: 4px;
  padding: 2px;
  color: #eee;
}
